Package: com.catppuccin.ios
Name: catppuccin
Version: 0.0.1
Architecture: iphoneos-arm
Description: Soothing pastel theme for iOS
Maintainer: r58Playz
Author: r58Playz
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
