<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Settings</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>label</key>
            <string>Flavor</string>
			<key>default</key>
			<string>mocha</string>
			<key>defaults</key>
			<string>com.catppuccin.ios.prefs</string>
			<key>key</key>
			<string>flavor</string>
			<key>validValues</key>
			<array>
				<string>latte</string>
				<string>frappe</string>
				<string>macchiato</string>
				<string>mocha</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Latte</string>
				<string>Frappé</string>
				<string>Macchiato</string>
				<string>Mocha</string>
			</array>
			<key>PostNotification</key>
			<string>com.catppuccin.ios.prefs/reload</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
            <key>detail</key>
            <string>PSListItemsController</string>
            <key>label</key>
            <string>Accent</string>
			<key>default</key>
			<string>mauve</string>
			<key>defaults</key>
			<string>com.catppuccin.ios.prefs</string>
			<key>key</key>
			<string>accent</string>
			<key>validValues</key>
			<array>
				<string>rosewater</string>
				<string>flamingo</string>
				<string>pink</string>
				<string>mauve</string>
				<string>red</string>
				<string>maroon</string>
				<string>peach</string>
				<string>yellow</string>
				<string>green</string>
				<string>teal</string>
				<string>sky</string>
				<string>sapphire</string>
				<string>blue</string>
				<string>lavender</string>
			</array>
			<key>validTitles</key>
			<array>
				<string>Rosewater</string>
				<string>Flamingo</string>
				<string>Pink</string>
				<string>Mauve</string>
				<string>Red</string>
				<string>Maroon</string>
				<string>Peach</string>
				<string>Yellow</string>
				<string>Green</string>
				<string>Teal</string>
				<string>Sky</string>
				<string>Sapphire</string>
				<string>Blue</string>
				<string>Lavender</string>
			</array>
			<key>PostNotification</key>
			<string>com.catppuccin.ios.prefs/reload</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Tweaks</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>Replace blue with accent</string>
            <key>default</key>
            <false />
            <key>defaults</key>
            <string>com.catppuccin.ios.prefs</string>
            <key>key</key>
            <string>tweak_blue_is_accent</string>
            <key>PostNotification</key>
            <string>com.catppuccin.ios.prefs/reload</string>
        </dict>
        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Integrations</string>
		</dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>YouTube</string>
            <key>default</key>
            <false />
            <key>defaults</key>
            <string>com.catppuccin.ios.prefs</string>
            <key>key</key>
            <string>integration_youtube</string>
            <key>PostNotification</key>
            <string>com.catppuccin.ios.prefs/reload</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>label</key>
            <string>GitHub</string>
            <key>default</key>
            <false />
            <key>defaults</key>
            <string>com.catppuccin.ios.prefs</string>
            <key>key</key>
            <string>integration_github</string>
            <key>PostNotification</key>
            <string>com.catppuccin.ios.prefs/reload</string>
        </dict>
	</array>
	<key>title</key>
	<string>Catppuccin</string>
</dict>
</plist>
